/* --------------NAVBAR start */

nav {
    width: 100%;
    background-color: #ff6900;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
   
    display: flex;
    justify-content: center;

    position: fixed;
    z-index: 3;
}

.container {
    width: 800px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    height: 100%;
    min-width: 80px;
}

#categories .inner-categories {
    font-size: 0.7em;
    color: white;
}

#boolean-logo img {
    height: 2em;
}

#logo-section {
    max-height: 100%;
    min-width: 80px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.inner-logo-section {
    color: white;
    font-size: 1em;
}

.inner-logo-section:nth-child(2) {
    color: white;
    font-size: 1.7em;
}

* a {
    text-decoration: none;
    color: white;
}

/* ////////////////NAVBAR END */

/* ------------------ MAIN START HERE */

main {
    padding: 90px 0;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.main-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 20px;
}

.inner-card {
    max-width: 30%;

    display: flex;
    flex-direction: column;

    position: relative;
}

.image img {
    height: 100%;
    width: 100%;
}

.card-text {
    font-size: 0.6em;
}

strong, caption {
    display: block;
}

.card-text strong {
    text-transform: capitalize;
}

.effective-price {
    color: red;
    padding-right: 0.5em;
}

.discount-price {
    text-decoration: line-through;
}

/* ////////////////////////////////// MAIN END HERE */

/* ------------------------- FOOTER START HERE */

footer {
    width: 100%;
    background-color: #1a1a1a; 
    height: 50px;
   
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */

    position: fixed;
    bottom: 0em;

    font-size: 0.6em;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;

}

#bottom-rights {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#info-rights {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

#bottom-socials {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#links-social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.5em;
}

/* ////////////////////////////// FOOTER END HERE */

/* ---------- HEARTS & TAGS - POSITION  */

.tag {
    position: relative;
    bottom: 2em;
    margin-bottom: -10px;
    z-index: 2;
}

.fifty-percent-sale {
    padding: 0.5em 1em;
    background-color: red;
    border-radius: 4px;  
    left: 0;
    display: inline-block;
    font-size: 0.5em;
    max-width: fit-content;
} 

.thirty-percent-sale {
    padding: 0.5em 1em;
    background-color: red;
    border-radius: 4px;  
    left: 0;
    display: inline-block;
    font-size: 0.5em;
    max-width: fit-content;
} 

.sustainability {
    padding: 0.5em 1em;
    background-color: forestgreen;
    border-radius: 4px;  
    display: inline-block;
    font-size: 0.5em;
    max-width: fit-content;
}

.like-heart {
    top: 3em;
    left: 90%;
    background-color: white;
    height: 5%;
    width: 10%;
    color: black;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    z-index: 2;
}

/* ///////////////////////////////// HOVER RULES */

.hov {
    display: none;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 1;
}

.inner-card:hover .hov {
    display: inline-block;
}

.inner-card .like-heart:hover {
    color: red;
}
