/* --------------NAVBAR start */

nav {
    width: 100%;
    background-color: #ff6900;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
   
    display: flex;
    justify-content: center;

    position: fixed;
}

.container {
    width: 800px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    height: 100%;
}

#categories .inner-categories {
    font-size: 1em;
    color: white;
}

#boolean-logo img {
    height: 2em;
}

#logo-section {
    max-height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.inner-logo-section {
    color: white;
    font-size: 1em;
}

.inner-logo-section:nth-child(2) {
    color: white;
    font-size: 1.7em;
}

* a {
    text-decoration: none;
    color: white;
}

/* ////////////////NAVBAR END */